@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  
  font-family: 'Noto Sans','Montserrat', '微軟正黑體', Helvetica, Arial, sans-serif; 
}

section, article, header, footer, nav, aside {
    display: block;
    zoom: 1;
}

body { 
    font-size: 16px;
    background: #ECECEC;
    line-height: 1;
    color: #444;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover,
a:active {
    text-decoration: none;
    color: #111;
}

ol, ul {
    list-style: none;
}

img {
     height: auto;
     max-width: 100%;
 }

#wrapper{
   margin: 0 auto;
}

/*
.section{
    height: 100vh;
    min-height: 800px;
    height: auto;
}*/


/*=====================HEADER MENU=====================*/

header {
    /*background: rgba(255, 255, 255, 0.9);*/
    /*width: 100%;*/
    display: block;
    height: 80px;
    margin: 0 auto;
    position: fixed;
    z-index: 1000;
    font-weight: 700;
    text-transform: uppercase;
}
/*
#menu{
    text-align: center;
}
#menu li{
    padding: 30px 20px;
    display: inline-block;
    position: relative;
}*/


/*=====================Fullscreen MENU=====================*/

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    
    background-color: rgba(0,0,0, 0.8);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 15px;
    text-decoration: none;
    font-size: 36px;
    color: #888;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #fff;
}

.closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px !important;
    
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .closebtn {
    font-size: 40px !important;
    top: 15px;
    right: 35px;
  }
}

/*=====================MAIN=====================*/

.tifa .fp-tableCell .box,
.about .fp-tableCell .box,
.contact .fp-tableCell .box{  
    line-height: 1.5;
    margin: 0 auto;
    max-width: 600px; 
}

h1 { 
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    height: 65px;
    line-height: 65px;
    margin-bottom: 25px;
    font-family: 'Montserrat', '微軟正黑體', Helvetica, Arial, sans-serif; 
    
}

h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 25px;
    font-family: 'Montserrat', '微軟正黑體', Helvetica, Arial, sans-serif; 
}

p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    
}

ul{
    margin: 10px 0;
    
}

/*=====================1.TIFA=====================*/
.tifa{
    /*background: #fff url('bg.png') center center; */
    background: #ddd;
    background-repeat: no-repeat; 
    /*width: 100%;
    height: 874px;*/
}
.avatar{
    text-align: center;   
}

/*=====================2.ABOUT=====================*/

.button{
    position: relative;
    margin: 30px auto;
    text-align: center;
    width: 100px;
    color: #444;
    font-weight: 400;
    font-size: 16px;
    background: #fff;
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.15);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 15px 60px;
    cursor: pointer;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
}
.button:hover{
    transform: scale(1.1);
}

.about a{
    font-weight: 700;
}

/*=====================3.WORK=====================*/

.work{
    background: #a8d0e6;/*rgb(124, 204, 190)*/
    text-align: center;   
}

.work-inner{
    max-width: 760px;
    margin: 0 auto;
    padding: 30px 0;
}
.work-item:before{
    content: "";
}
.work-item {
    padding: 10px;
    max-width: 220px;
    display: inline-block;
    position: relative;
    clear: left;
    background: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    margin: 0 15px 30px 15px;
}

.work-item:hover {
    -webkit-box-shadow: 0px 22px 43px rgba(68,68,68,0.2);
    -moz-box-shadow: 0px 22px 43px rgba(68,68,68,0.2);
    box-shadow: 0px 22px 43px rgba(68,68,68,0.2);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    transform: translateY(-5px);
}

.work-item img{
    max-width: 200px;
}

.work-item:hover span {
    opacity: 1;
}

.work-item:hover img {
    opacity: 0.5;
}
.work-item span {
    position: absolute;
    z-index: 999;
    
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

    background: #fff;
    color: #444;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    
    width: 70%;
    height: 40px;
    top: 50%;
    margin-top: -20px;
    left: 15%;
    opacity: 0;
    
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

/*=====================4.CONTACT=====================*/

.contact .box{
}

.contact li{
    display: inline;
}

.contact li a{
    -moz-transition: color 0.1s ease;
    -o-transition: color 0.1s ease;
    -webkit-transition: color 0.1s ease;
    transition: color 0.1s ease;
}

.contact li span:after{
    content: '\2022';
}

/*=====================RESPONSIVE=====================*/


/*瀏覽區域的寬度大於481像素*/
@media screen and (min-width: 481px){

    /*.respon-nav,#myNav{
        display: none;
    }*/
}


/*瀏覽區域的寬度小於600像素*/
@media screen and ( max-width: 600px ){

    h1,
    h2,
    p,
    ul{
        padding: 20px 20px 0px;
    }
    .work-inner{
        max-width: 510px;
        margin: 0 auto;
    }
}


/*瀏覽區域的寬度小於480像素*/
@media screen and ( max-width: 480px ){
    
    /*header{
        background: none;
    }
    .main-nav{
        display: none;
    }*/

    h1{
        font-size: 24px;
        height: 65px;
        line-height: 55px;
    }

    h2{
        font-size: 16px;
    }
    
    p,ul{
        font-size: 14px;
    }

    .work{
        padding: 30px 0px;
    }
    
    .work-item{
        max-width: 200px;
    }
    
    .work-inner{
        max-width: 260px;
        margin: 0 auto;
    }
    
}

@media screen  and (max-height: 700px) {
    

}

/*@media screen and (max-width: 995px) , screen and (max-height: 700px) {}*/